%btn-base {
	padding: 16px 80px;
	border-radius: 67px;

	font-weight: 600;
	font-size: 21px;
	line-height: 1.13;
	text-align: center;
	color: var(--primary-light-color);
}

%section-title {
	margin-bottom: 61px;

	font-weight: 600;
	font-size: 51px;
	line-height: 1.23;
}
