@use "../abstracts/mixins" as mx;

%btn-base {
	padding: 16px 57px;
	border-radius: 67px;

	font-weight: 600;
	font-size: 21px;
	line-height: 1.13;
	text-align: center;
	color: var(--primary-light-color);

	@include mx.tablet {
		padding-left: 80px;
		padding-right: 80px;
	}
}

%section-title {
	margin: 0 auto 40px;

	font-weight: 600;

	text-align: center;

	font-size: 39.7px;
	line-height: 1.34;

	@include mx.tablet {
		margin-bottom: 60px;
	}
}
