:root {
	--primary-light-color: #ffffff;
	--primary-dark-color: #2b2b2b;
	--primary-accent-color: #285e67;
	--secondary-accent-color: #c17152;
	--bg-light: #f4f4f4;
	--bg-accent: #fce2d7;

	--transition-base: 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
