@use "../abstracts/mixins" as mx;

.features-list {
	display: flex;
	flex-direction: column;
	gap: 26px;

	@include mx.tablet {
		flex-direction: row;
		gap: 53px;
	}

	@include mx.desktop {
		gap: 69px;
	}

	&__item {
		@include mx.tablet {
			flex-basis: calc((100% - 53px) / 2);
		}

		@include mx.desktop {
			flex-basis: calc((100% - 69px) / 2);
		}
	}

	&__text {
		text-align: center;

		&::before {
			margin-bottom: 20px;
		}
	}
}

.features-list__text--leaf::before {
	@include mx.icon-before(url(../images/leaf.svg));
}

.features-list__text--leaf-orange::before {
	@include mx.icon-before(url(../images/leaf-orange.svg));
}
