@use "../abstracts/mixins" as mx;

.image-list {
	display: flex;
	flex-direction: column;
	gap: 28px;

	@include mx.tablet {
		flex-direction: row;
	}

	@include mx.desktop {
		gap: 48px;

		&__item {
			flex-basis: calc((100% - 48px) / 2);
		}
	}
}
