.logo {
	font-weight: 600;
	font-size: 21px;
	line-height: 1.14;
	color: var(--primary-accent-color);

	transition: color var(--transition-base);

	&--light {
		color: var(--primary-light-color);
	}
}
