.soc-list {
	display: flex;
	gap: 24px;
	margin-top: 36px;

	&__icon {
		fill: var(--primary-light-color);
		transition: fill var(--transition-base);

		&:hover,
		&:focus {
			fill: var(--secondary-accent-color);
		}
	}
}
