@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as mx;

.hero {
	padding-top: 72px;

	&__title {
		@extend %section-title;

		margin-bottom: 17px;

		font-size: 37.9px;
		line-height: 1.24;

		@include mx.tablet {
			font-size: 65.34px;
			line-height: 1.25;
		}
	}

	&__subtitle {
		margin-bottom: 33px;

		font-weight: 400;
		font-size: 16px;
		text-align: center;
	}

	&__btn {
		display: block;
		margin: 0 auto 56px;
	}
}
