@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as mx;

.intro {
	&__container {
		padding: 72px 65px 32px;

		@include mx.tablet {
			padding: 64px 148px 97px;
		}

		@include mx.desktop {
			display: flex;
			gap: 196px;
		}
	}

	&__image {
		display: none;

		@include mx.desktop {
			display: block;
			transform: translateY(52px);
		}
	}

	&__title {
		@extend %section-title;
	}
}
